.main-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:156px ;
}
.title{
    font-size: 24px;
    font-weight: 400;
}
.subtitle{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}
.welcome{
    padding-top: 111px;
    padding-left:40px;
}
.login-subtitle{
    padding-top:10px;
    padding-left: 10px;
}